<div class="container">
  <%= render "form", recipe: @recipe %>

  <br>

  <div class="new-recipe-link-div">
    <%= link_to "Back to recipes", recipes_path, class: "btn btn-primary new-recipe" %>
  </div>
</div>
