<% if @public.length > 0 %>
<div class="container text-center mt-1 pt-1" style="max-width: 400px; padding: 5px;">
  <p class="professional-h1">Public Recipes</p>
</div>
  <table class="recipe-table">
    <tr>
      <th>Recipe Name</th>
      <th>By</th>
      <th>Total Food Items</th>
      <th>Total Price</th>
    </tr>
    <% @public.each do |recipe| %>
      <tr>
        <td class="recipe-name">
          <%= link_to recipe.name, recipe_path(recipe) %>
        </td>
        <td class="recipe-info">by: <%= recipe.user.name %></td>
        <td class="recipe-info"><%= recipe.recipe_foods.length %></td>
        <% total_price = recipe.recipe_foods.sum { |food| food.food.price } %>
        <td class="recipe-total-price">$<%= total_price %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <h2 class="no-recipes">No Public Recipes</h2>
<% end %>
